<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}

    <section class="main-contact-form">
        {% include 'Include/_contact.html.twig' %}
    </section>
    <section class='main-map'>
        {% include 'Include/_map.html.twig' %}
    </section>
    <footer>
        {% include 'Include/_footer.html.twig' %}
    </footer>
</body>
</html>


