footer {
    display: flex;
}

footer > div {
    width:33%;
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--primary-font-colour);
}

.social-networks {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}
