header {
    display: flex;
    margin: 0.5rem;
    justify-content: flex-end;
}

.header-navbar {
    display: flex;
    background-color: beige;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.header-navbar a {
    margin-right: 0.5rem;
    padding: 0.7rem;
}

#left-link {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#right-link {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 0;
}

.header-navbar a:hover {
    background-color: aqua;
}
