@import url('_contact.css');
@import url('_map.css');
@import url('_footer.css');
@import url('_header.css');

:root {
    --primary-font-colour : #f76c6c;
}

* {
    box-sizing: content-box;
    /* margin: 0; */
}

body {
    color: #f76c6c;
}
