
<h1>Contactez moi</h1>

<div class='contact-body'>
    <div class='contact-info-card'>
        <div class='contact-timetable'>
            <h3>Horaires</h3>
            <p>Lundi : fermé</p>
            <p>Mardi : fermé</p>
            <p>Mercredi : je sais pas encore</p>
            <p>Jeudi : aucune idée</p>
            <p>Vendredi : peut pas</p>
            <p>Samedi : soirée</p>
            <p>Dimanche : nope</p>
        </div>
        <div class='contact-payment'>
            <h3>Modes de paiment acceptés:</h3>
            <p>Espèce, Chèques, Tickets restaurant</p>
        </div>
    </div>

    <div class='contact-form' id='form'>
        <p>Contactez moi pour des questions, des propositions de parfums. Je répondrai dès que possible.</p>
        <form action="post" class='form-container'>
        <label for="">Votre prénom * :</label>
        <input type="text" value='Votre nom'>
        <label for="">Votre nom * :</label>
        <input type="text" value='Votre nom'>
        <label for="">Votre email * :</label>
        <input type="text" value='Votre email'>
        <label for="message">Votre message * :</label>
        <textarea name="message" id="message">Votre message</textarea>
        <button>Envoyer</button>
        </form>
    </div>
</div>
