<div class='footer-location'>
    <h2>Monsieur Glace</h2>
    <p>Vendeur de glaces itinérant</p>
    <p>Chemin des crieurs, 59650 Villeneuve d'Ascq</p>
</div>
<div class='footer-navbar'>
    <h2>Sections :</h2>
    <a href="">Cartes & Menus</a>
    <a href=""></a>
    <a href="">A propos</a>
    <a href="">Photos</a>
    <a href="">Me rejoindre</a>
</div>
<div class='social-networks'>
    <h3>Réseaux sociaux</h3>
    <div class='social-links'>
        <a href=""></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
    </div>
</div>
