<div class='header-navbar'>
    <a id='left-link' href="">Réserver un créneau</a>
    <a href="#form">Me contacter</a>
    <a href=""><i class="bi bi-person"></i></a>
    <a id='right-link' href=""></a>
</div>
